extends layout.pug

block content

  article.portfolio-intro

    
    h1 Joel Ogunremi Portfolio 

   
    p This will showcase all my projects and my web development skills. 


  article.portfolio-project-thumbs
    .projects-box.box.grid

      
      each project in projects 
        

        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.main_image.src}`, alt=`${project.main_image.alt}`)
            h5= project.project_name

